[Unit]
Description=PaperlessNGX Database export (%i)
Requires=docker.service
After=docker.service

[Service]
UMask=0022
Type=oneshot
ExecStart=/opt/fsbackup/bin/fs-db-export.sh /etc/fsbackup/db/%i.env
User=root
Group=root

