[Unit]
Description=fsbackup doctor check (class1)
After=network-online.target
Wants=network-online.target

[Service]
UMask=0022
Type=oneshot
User=fsbackup
Group=fsbackup
ExecStart=/opt/fsbackup/bin/fs-doctor.sh --class class1

