[Unit]
Description=fsbackup daily runner timer (%i)

[Timer]
OnCalendar=*-*-* 02:15:00
Persistent=true
Unit=fsbackup-runner@%i.service

[Install]
WantedBy=timers.target

