[Unit]
Description=fsbackup snapshot promotion

[Service]
UMask=0022
Type=oneshot
User=fsbackup
Group=fsbackup
ExecStart=/usr/local/sbin/fs-promote.sh

