[Unit]
Description=fsbackup doctor (%i)

[Service]
UMask=0022
Type=oneshot
User=fsbackup
Group=fsbackup
ExecStart=/usr/local/sbin/fs-doctor.sh --class %i
StandardOutput=journal
StandardError=journal

