[Unit]
Description=fsbackup daily runner (%i)
Wants=network-online.target
After=network-online.target

[Service]
UMask=0022
Type=oneshot
User=fsbackup
Group=fsbackup
ExecStart=/opt/fsbackup/bin/fs-runner.sh daily --class %i
Nice=10
IOSchedulingClass=best-effort
IOSchedulingPriority=6
