[Unit]
Description=fsbackup annual promote (class1 only)
After=network-online.target fsbackup-promote.service
Wants=network-online.target

[Service]
UMask=0022
Type=oneshot
User=fsbackup
Group=fsbackup
ExecStart=/usr/local/sbin/fs-annual-promote.sh

